* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--accent: #4985ff;
	--dark: #323232;
	--gray: #999;
}
body {
	font-family: sans-serif;
	font-weight: 500;
	line-height: 1.3;
	color: #fff;
	font-size: 16px;
	overflow-x: hidden;
}
.container {
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
section {
	padding: 100px 0;
}
.link {
	color: var(--accent);
	text-decoration: underline;
}
.title {
	font-weight: 700;
	font-size: 36px;
	color: var(--dark);
	margin: 10px 0;
}
.btn {
	width: 200px;
	min-height: 45px;
	border-radius: 30px;
	background: #4985FF;
	box-shadow: 0px 0px 10px 0px #6F6F6F40;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
}
.text-center {
	text-align: center;
}
.header {
	height: 100px;
	border-bottom: 1px solid #a1a1a17b;
	/* padding: 40px 0; */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	align-items: center;
}
.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	h2 {
			font-size: 38px;
		}
	display: flex;
	padding: 20px;
}
.header__list {
	display: flex;
	gap: 40px;
}
.header__link {
	color: #fff;
	position: relative;
}
.header__link::after {
	content: "";
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	width: 130%;
	height: 5px;
	opacity: 0;
	transition: 0.5s;
}
.header__link:hover:after {
	opacity: 1;
}
.header__link:last-child {
	margin-right: 40px;
}

.main-screen__title {
	font-weight: 800;
	font-size: 48px;
	margin: 20px auto 50px;
	max-width: 830px;
}
.main-screen {
	background: url(./img/main-screen.jpg) no-repeat center top/cover;
	padding: 330px 0;
}
@media screen and (max-width: 768px) {
	.main-screen {
		padding: 150px 0 30px;
	}
}

/* .services {

} */

.services__title {
	max-width: 740px;
	margin: 30px auto;
}
.services__texts {
	color: var(--dark);
	padding-top: 40px;

	h6 {
		font-size: 18px;
		font-weight: 600;
	}

	p {
		color: var(--gray);
		font-size: 14px;
		margin-top: 10px;
	}

}
.services__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	gap: 30px;
	margin-bottom: 50px;
}
.services__item {
	display: grid;
	grid-template-columns: 90px 1fr;
	gap: 27px;
	/* z-index: 5; */
	transition: all 1s;
}
.services__item:hover {
	/* content: ""; */
	background-color: var(--accent);
		opacity: 10%;
		min-height: 120px;
		border-radius: 120px;
		/* position: absolute; */
		z-index: 1;
		
	transform: scale(110%);
}
.services__icon {
	height: 90px;
	border-radius: 50%;
	border: 1px solid var(--accent);
	align-items: center;
	justify-content: center;
	display: flex;
	position: relative;
	z-index: 5;
}
.services__icon::after {
	content: "";
	height: 110px;
	width: 110px;
	border-radius: 50%;
	border: 1px solid #E0E0E0;
	position: absolute;
}

/* .services__icon:hover::after {

} */

.services__icon:hover {
	transform: scale(120%);
	cursor: pointer;
}
/* .services__item:hover {
	transform: scale(1.2);
} */

.works {
	position: relative;
}
.works__main::before {
	content: "";
	position: absolute;
	height: 500px;
	background: linear-gradient(90deg, #504DC2 20%, #5F12D0 80%), var(--gray);
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.works__title {
	padding: 40px;
}
.works__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.works__card {
	border-radius: 10px;
	/* border: solid 1px var(--dark); */
	box-shadow: 0 0 10px 0 var(--dark);
	padding: 10px;
	transition: all 1s linear;
}
.works__card:hover {
	transform: scale(110%);
}
.works__pic img {
	border-radius: 10px;
	height: 300px;
	object-fit: cover;
}
.works__content {
	padding: 10px;
}
.works-content__title {
	font-size: 18px;
	color: var(--dark);
}
.works-content__text {
	color: var(--gray);
}
.works hr {
	color: var(--accent);
	margin: 50px;
}

/* projects */
.projects {
	background-color: var(--gray);
	height: 100px;
	margin-top: 0;
   display: flex;
   flex-wrap: wrap;
   min-width: 920px;
   margin: 0 auto;
   justify-content: space-between;
   gap: 20px;
}
.projects__item {
	position: relative;
	cursor: pointer;
}
.projects__item::after {
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	background-color: var(--accent);
}
.projects__item:hover::after {
	border-radius: 50%;
}
.projects__item:hover
.projects__info span {
	transform: scale(2);
}
.projects__info {
	display: flex;
	align-items: center;
	margin-left: 20px;
}
.projects__info span {
	font-size: 36px;
	font-weight: 400;
	color: var(--dark);
}
/* .projects__info span:hover {
	transform: scale(2);
} */

.projects__info-text {
	font-size: 21px;
	margin-top: 10px;
	color: var(--gray);
}

.projects__item {
	animation: move 10s infinite;
}
/* .cerc {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--accent);
	animation: miscare 10s infinite;
} */
@keyframes move {
	0% {
		transform: translate(0px);
	}
	25% {
      transform: translate(0, -200px);
	}
	50% {
		transform: translate(200px, -200px);
	}
	75% {
		transform: translate(200px, 0);
	}
	100% {
		transform: translate(0);
	}
} 


.slideshow-carousel {
	display: flex;
	justify-content: center;
}
.carousel-caption {
	color: #fff;
}


.video {
	background-color: var(--dark);
}
.video__video {
	display: flex;
	justify-content: center;
}


/* form */
.form__container {
	background-color: var(--accent);
	opacity: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form__contact {
	width: 600px;
	height: 400px;
	border-radius: 12px;
	padding: 15px 25px;
	animation: tricolor 10s infinite;
	margin: 0 auto;
}
.contact__inputs {
	/* margin: 0 auto; */
	justify-content: center;
}
.contact__input {
	width: 80%;
	height: 40px;
	margin: 15px 0;
	border: none;
	border-radius: 12px;
	/* padding-left: 15px; */
	transition: all 1s;
}
.message__box {
	height: 40px;
}
.contact__input:invalid {
	color: red
}
.contact__input:valid {
	color: var(--dark);
}

.checkbox__container {
	width: 100%;
	display: block;
}


@keyframes tricolor {
	0% {
		background-color: var(--accent);
	}

	50% {
		background-color: #504DC2;
	}

	100% {
		background-color: #5F12D0;
	}
}
/* #504DC2 20%,
#5F12D0 80%) */

/* footer */
.footer {
	height: 150px;
	background-color: var(--dark);
	display: flex;
	align-items: center;
	justify-content: space-between;


}

/* @media screen and (min-width: 992px) {
	
} */

@media screen and (max-width: 768px) {
.services {
	padding: 30px 0;
}
} 

@media (max-width: 481px) {
	.main-screen__title {
   font-weight: 600;
	font-size: 32px;
	}
	.title {
	font-weight: 500;
	font-size: 28px;
	}
}

/* 
.carousel-item h5 p {
	
	align-items: center;
} */

.contacts-options {
	display: flex;
	margin: 15px;
}