* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--accent: #4985ff;
	--dark: #323232;
	--gray: #999;
}
body {
	font-family: sans-serif;
	font-weight: 500;
	line-height: 1.3;
	color: #fff;
	font-size: 16px;
	overflow-x: hidden;
}
.container {
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
section {
	padding: 110px 0;
}
.link {
	color: var(--accent);
	text-decoration: underline;
}
.title {
	font-weight: 700;
	font-size: 36px;
	color: var(--dark);
}
.btn {
	width: 200px;
	min-height: 45px;
	border-radius: 30px;
	background: #4985FF;
	box-shadow: 0px 0px 10px 0px #6F6F6F40;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
}
.text-center {
	text-align: center !important;
}
.header {
	border-bottom: 1px solid #a1a1a17b;
	padding: 40px 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.header__nav {
	display: flex;
	justify-content: flex-end;
}
.header__link {
	color: #fff;
	position: relative;
}
.header__link::after {
	content: "";
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	width: 130%;
	height: 5px;
	opacity: 0;
	transition: 0.5s;
}
.header__link:hover:after {
	opacity: 1;
}
.header__link:not(:last-child) {
	margin-right: 40px;
}

.main-screen__title {
	font-weight: 800;
	font-size: 48px;
	margin: 20px auto 50px;
	max-width: 830px;
}
.main-screen {
	background: url(./img/main-screen.jpg) no-repeat center top/cover;
	padding: 330px 0;
}
@media screen and (max-width: 768px) {
	.main-screen {
		padding: 150px 0 30px;
	}
}